<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iDeliverMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34DD0EDA1B8C76D9003ABB73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34DD0EEE1B8C76D9003ABB73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34DD0EF91B8C76D9003ABB73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
